@import url(base.css);


.home .main__heading {
    font-size: 80px;
    font-weight: bold;
}

.home .main__sub-heading {
    font-size: 30px;
}

.home .menu path{
    fill: var(--color-on-text-primary);
    
}

.home .close path {
    fill: var(--color-on-text-primary);
}

@media(max-width: 1220px) {
    .home .main__heading{
        font-size: 50px;
    }
    
}


@media(max-width: 590px) {
    .home .main__heading{
        font-size: 35px;
    }

    .home .main__sub-heading{
        font-size: 20px;
    }
    
}